
<div class="<%= ctrl.props.id %>"
        <%- include('../../attributes/common/base_attributes', {ctrl : ctrl}) %>
     infinite-scroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="500"
     (scrolled)="tableService.onScrollDown()"
     [scrollWindow]="false"
>
    <div *ngFor="let row of task.Records.list">
        <div *ngIf="mg.ifRowCreated(row)" id="row">
            <form [formGroup]="mg.getFormGroupByRow(row.rowId)" class="<%= ctrl.props.id %>_table_rowProps"
                  [ngClass]="{ 'selected': mg.isRowSelected('<%= ctrl.props.id %>', row.rowId)}">
                <%- include(`../container`, {ctrl: ctrl}) %>
            </form>
        </div>
    </div>
</div>
