<% if (ctrl.props.button_style && ctrl.props.button_style != CtrlButtonTypeGui.Push) { %>
<%# if button has a style, it is not a pushbutton%>
<% switch ((ctrl.props.button_style)) {
case CtrlButtonTypeGui.Image : %>
<button  mat-button color="primary"
        <%- include('../../attributes/button_attributes.ejs', {ctrl : ctrl}) %>
>
    <%- include('../../attributes/common/format.ejs', {ctrl : ctrl}) %>
</button>
<% break;

case CtrlButtonTypeGui.Hypertext : %>
<a href="javascript:;"
        <%- include('../../attributes/button_attributes.ejs', {ctrl : ctrl}) %>>
        <%- include('../../attributes/common/format.ejs', {ctrl : ctrl}) %>
</a>
<% break;

} %>
<% } else { %> <%# button is a pushbutton %>
<button mat-raised-button
        <%- include('../../attributes/common/row_editing_button_attributes.ejs', {ctrl : ctrl}) %>
        color="primary"
        <%- include('../../attributes/button_attributes.ejs', {ctrl : ctrl}) %>>
        <%- include('../../attributes/common/format.ejs', {ctrl : ctrl}) %>
</button>
<% } %> %>

